article.constitution
  :markdown

    # Betaworld Global Constitution

    ## Preamble

    We the Citizens of Betaworld, in Order to form a more perfect server, establish Justice for griefers, insure building Tranquility, provide for the common defense of our work, promote the general Welfare of our community, and secure the Blessings of Minecraft Liberty to ourselves and our Posterity, do ordain and establish this Constitution.

    ## Article. I. Global Government

    ### Section. 1. Establishment of Authority
    1. All legislative powers herein granted shall be vested in a Global Congress of Betaworld, which shall consist of two houses: The Senate and The House of Representatives.
    2. Laws enacted by the Global Congress shall be supreme law on Betaworld and it's moon.

    ### Section. 2. Enumeration of Congressional Powers
    1. Congress may establish a secure circular area of land (not exceeding 800 meters in diameter) for Visitors to arrive at.
    2. Congress may establish and regulate a standard legal tender.
    3. Congress may establish a judicial system.
    4. Congress may establish a penal system.
    5. Congress may borrow from other worlds on the credit of Betaworld.
    6. Congress may establish uniform Laws of Naturalization throughout Betaworld.
    7. Congress may establish post offices and post roads.
    8. Congress may define and punish Piracies and Felonies committed on the high Seas, and Offenses against the Law of Nations.
    9. Congress may lay and collect uniform Taxes, Duties, Imposts and Excises, to pay Debts and provide for the common welfare of Betaworld.
    10. Congress shall have the power to make all Laws which shall be necessary and proper for carrying into Execution the foregoing Powers, and all other Powers vested by this Constitution.

    ## Article. II. Legislative Branch

    ### Section. 1. House of Representatives
    1. The House of Representatives shall be composed solely of a single mayor-ordained individual from each participating Town.
    2. No person shall be a Representative in the House until they have reached the age of 13, and have been ordained in a signed writing by the respective Town Mayor.
    3. The House of Representatives shall have the sole Power of Initiating Impeachment by Trial.
    4. Representatives forfeit their seat in the House of Representatives after remaining absent from Congressional proceedings for longer than 30 days. Individuals that are forced to forfeit their seat due to vacancy may return after producing a signed letter of explanation from
    5. Each Representative receives 1 vote in Congress.

    ### Section. 2. Senate
    1. The Senate of Betaworld shall be composed solely of a single representative from each Nation.
    2. No person shall be a Senator that has not reached the age of 13, and been a Citizen of Betaworld for 6 months.
    3. The Senate shall choose a President pro tempore in the absense of a Vice Administrator.
    4. Senate has exclusive and unreviewable authority to determine what constitutes an adequate impeachment trial.
    5. Judgement in Cases of Impeachment shall not extend further than to removal from Office, and disqualification to hold and enjoy any Office of honor, Trust, or Profit under the Betaworld Global Government: but the Party convicted shall nevertheless be liable and subject to Idictment, Trial, Judgement and Punishment, according to Law.

    ### Section. 3. Speaker of The House
    1. The House shall elect one individual as Speaker of The House for one full session of Congress (3 months).
    2. The Speaker of the House shall decide which order Bills are introduced to the House.
    3. Speakers may be re-elected without term limits.

    ### Section. 4. Elections
    1. Election polls shall be held open for one full day, every 3 months.
    2. The Senate or House may schedule special elections for any vacant office, 1 month after the Speaker makes an official announcement of the event.
    3. The Candidate with most votes wins the office.
    4. In the event that a Candidate has no challengers, Candidate wins the office by default.

    ### Section. 5. Bills of Action
    1. Bills are highly documented proposals for changes or addition of law.
    2. Bills may originate from either Senate or the House.
    3. All bills must have accompanying documentation that outlines exactly every technical change to legislation.
    4. Bills that are rejected by either the House or Senate may be ammended by the rejecting party and returned to the originator for approval.

    ### Section. 6. Laws
    1. Bills must first be approved by the House Speaker, then by the Senate President (Vice-Administrator or President Pro Tempore), then officially signed by the Administrator of Betaworld, before it is to be ratified law.
    2. Laws take affect at 12:00am (Mountain Time), on the day following ratification.

    ## Article. III. Executive Branch

    ### Section. 1. Separation of Powers
    1. Because laws are written by people, and people are imperfect; authority to execute the tasks necessary for implementing and enforcing laws shall be vested in an independent branch of government known as the Executive Branch, so that Congress is restricted from imposing it's will arbitrarily.
    2. The Executive branch shall be led by one Administrator of Betaworld, who shall be nominated by two-thirds Senate majority, and elected by popular vote of Betaworld Citizens.
    3. The Administrator of Betaworld shall appoint one Vice-Administrator to be President of Senate.

    ### Section. 2. Administrator of Betaworld
    1. The Administrator of Betaworld is hereby granted the right to veto any bills that comes in for approval.
    2. In all cases of veto, an official document called an "Executive Memorandum" shall outline all consitutionally-based rationale for which the veto is based upon.
    3. An Executive Veto can be overidden by two-thirds majority in Congress.
    4. The Administrator of Betaworld may enact any policy and regulation within the Executive Branch that required to execute the will of Congress.

    ### Section. 3. Vice-Administrator of Betaworld
    1. The Vice-Administrator of Betaworld shall have no Vote, unless the senate be equally divided.
    2. The Vice-Administrator shall act as Speaker of the Executive Branch, conveying all official executive communications directly to Congress.
    3. In the event that the Administrator of Betaworld dies or becomes incapacitated in any way that affects their ability to perform the duties of the office; the Vice-Administrator shall assume the position of Administrator.
    4. All access keys, passwords and other credentials must be provided to the Vice-Administrator, so that duties may resume following the loss of an Administrator.

    ## Article. IV. Judicial Branch

    ### Section. 1. Supreme Court
    1. Betaworld shall have a Judiciary in the form of one Supreme Court.
    2. The Supreme Court shall have 9 presiding Justices, who shall each hold their seat for life, lest the Supreme Court
    3. Each Justice shall be nominated by the Administrator of Betaworld, then approved by the Senate, who can reject the Justice with a two-thirds majority.
    4. The head of the Judiciary shall be one Chief Justice, who shall be appointed by their Judicial peers.
    5. The Judiciary may nullify any law on grounds that it is unconstitutional, with two-thirds majority.
    6. Laws that are nullified by the Judicial Branch immediately lose all power, and can no longer be enforced.
    7. Congress may draft similar bills if they address all concerns of the court.

    ### Section. 2. Chief Justice
    1. The Chief Justice shall be chief administrative officer of the Judiciary, with power to enact any policies or regulations necessary for carrying out judicial duties.
    2. The Chief Justice shall act as spokesperson of the Judiciary, converying all official judicial communications directly to Congress.
    3. In the event that the Chief Justice is incapacitated in any way, the Justice with next most seniority shall assume the position until the Chief Justice can return to office and resume duties.

    ## Article. V. Inalienable Citizen Rights

    ### Section. 1. The Right to Life
    1. Nobody may unlawfully assault you.
    2. Nobody may unlawfully kill you.
    3. Nobody may unlawfully set traps for you without adequate prior warning.
    4. Nobody may unlawfully banish you.

    ### Section. 2. The Right to Liberty
    1. Nobody may unlawfully harass you, either verbally or physically.
    2. Nobody may unlawfully interfere with how you spend your time, or use your property.
    3. Nobody may unlawfully interfere with your claiming of items from wild land and abandoned ruins.
    4. Nobody may unlawfully interfere with your establishment of a settlement on wild land.
    5. Nobody may unlawfully interfere with your establishment of a nation with representatives.
    6. Nobody may unlawfully interfere with your establishment of national rights & laws.

    ### Section. 3. The Right to Property
    1. Nobody may unlawfully vandalize your items, claimed land, structures, or other materials.
    2. Nobody may unlawfully steal your items, claimed land, structures, or other materials.
    3. Nobody may unlawfully tresspass upon your claimed land.
    4. Nobody may unlawfully interfere with your claiming of items dropped by mobs and/or lawfully-killed opponents.

    ### Section. 4. The Right to Due Process
    1. Nobody may deprive you of life, liberty or property, without due process of law.
    2. Nobody may deprive you of recovering compensation for a wrongful deprivation.
    3. Nobody may deprive you of an unbiased tribunal.
    4. Nobody may deprive you of a decision based exclusively on the evidence presented.
    5. Nobody may deprive you of the requirement that the tribunal prepare a record of the evidence presented.
    6. Nobody may deprive you of the requirement that the tribunal prepare written findings of fact and reasons for its decision.
    7. Nobody may deprive you of a notice for proposed action against you, and the grounds asserted for it.
    8. Nobody may deprive you of an opportunity to present reasons why the proposed action should not be taken.
    9. Nobody may deprive you of presenting evidence, including the calling of witnesses.
    10. Nobody may deprive you of knowing opposing evidence.
    11. Nobody may deprive you of cross-examining adverse witnesses.
    12. Nobody may deprive you of an opportunity to be represented by counsel.
    13. Nobody may deprive you of a timely trial.