article.constitution
  :markdown

    # Betaworld Global Constitution

    ## Preamble

    We the Citizens of Betaworld, in Order to form a more perfect server, establish Justice for griefers, insure building Tranquility, provide for the common defense of our work, promote the general Welfare of our community, and secure the Blessings of Minecraft Liberty to ourselves and our Posterity, do ordain and establish this Constitution.

    ## Article. I. Global Government

    ### Section. 1. Establishment of Authority
    1. All legislative powers herein granted shall be vested in a Global Congress of Betaworld, which shall consist of two houses: The Senate and The House of Representatives.
    2. Laws enacted by the Global Congress shall be supreme law on Betaworld and it's moon.

    ### Section. 2. Enumeration of Congressional Powers
    1. Congress may establish a secure circular area of land (not exceeding 800 meters in diameter) for Visitors to arrive at.
    2. Congress may establish and regulate a standard universal tender.
    3. Congress may establish a judicial system.
    4. Congress may establish a penal system.
    5. Congress may borrow from other worlds on the credit of Betaworld.
    6. Congress may establish uniform Laws of Naturalization throughout Betaworld.
    7. Congress may establish post offices and post roads.
    8. Congress may define and punish Piracies and Felonies committed on the high Seas, and Offenses against the Law of Nations.
    9. Congress may lay and collect uniform Taxes, Duties, Imposts and Excises, to pay Debts and provide for the common welfare of Betaworld.
    10. Congress shall have the power to make all Laws which shall be necessary and proper for carrying into Execution the foregoing Powers, and all other Powers vested by this Constitution.

    ## Article. II. Legislative Branch

    ### Section. 1. House of Representatives
    1. The House of Representatives shall be composed solely of a single mayor-ordained individual from each participating Town.
    2. No person shall be a Representative in the House until they have reached the age of 13, and have been ordained in a signed writing by the respective Town Mayor.
    3. The House of Representatives shall have the sole Power of Initiating Impeachment by Trial.
    4. Representatives forfeit their seat in the House of Representatives after remaining absent from Congressional proceedings for longer than 30 days. Individuals that are forced to forfeit their seat due to vacancy may return after producing a signed letter of explanation from
    5. Each Representative receives 1 vote in Congress.

    ### Section. 2. Senate
    1. The Senate of Betaworld shall be composed solely of a single representative from each Nation.
    2. No person shall be a Senator that has not reached the age of 13, and been a Citizen of Betaworld for 6 months.
    3. The Vice Administrator of Betaworld shall be the President of Senate, but shall have no Vote, unless the senate be equally divided.
    4. The Senate shall choose a President pro tempore in the absense of a Vice Administrator.
    5. Senate has exclusive and unreviewable authority to determine what constitutes an adequate impeachment trial.
    6. Judgement in Cases of Impeachment shall not extend further than to removal from Office, and disqualification to hold and enjoy any Office of honor, Trust, or Profit under the Betaworld Global Government: but the Party convicted shall nevertheless be liable and subject to Idictment, Trial, Judgement and Punishment, according to Law.

    ### Section. 3. Speaker of The House
    1. The House shall elect one individual as Speaker of The House for one full session of Congress (3 months).
    2. The Speaker of the House shall decide which order Bills are introduced to the House.
    3. Speakers may be re-elected without term limits.

    ## Article. III. Executive Branch

    ### Section. 1. Separation of Powers
    1. Because laws are written by people, and people are susceptible to inperfection; authority to execute the tasks required to implement and enforce laws shall be vested in an independent branch of government known as the Executive Branch.
    2. The Executive branch shall be led by one Administrator of Betaworld, who shall be elected by the Congress of Betaworld.
    3.

    1. While the Legislature may enact laws, it is the Executive Branch that executes the many tasks required to implement and enforce these laws.

    ### Section. 1. Administrator of Betaworld
    1.

    ### Section. 2. Judicial Branch


    ### Section. 6. Elections
    1. Election polls shall be held open for one full day, every 3 months.
    2. The House of Representatives may schedule special elections for any vacant office, 1 month after announcing the election to Congress.
    3. The Candidate with most votes wins the office.
    4. In the event that a Candidate has no challengers, Candidate wins the office by default.

    ### Section. 7. Bills
    1. All bills for raising Betaworld Treasury Revenue shall originate in the House of Representatives; but the Senate can amend them as in the case of other bills.
    2. Bills must be approved by the House of Representatives, first.
    3. If the House of Representatives pass a bill, it is then sent to the Senate.
    4. If the House of Representatives reject a bill, the Speaker of the House shall move on to considering other Bills.
    4. If the Senate passes a bill, it is

    ### Section. 8. Enumeration of Powers

    ## Article. II. Inalienable Rights

    ### Section. 1. The Right to Life
    1. Nobody may unlawfully assault you.
    2. Nobody may unlawfully kill you.
    3. Nobody may unlawfully set traps for you without adequate prior warning.
    4. Nobody may unlawfully banish you.

    ### Section. 2. The Right to Liberty
    1. Nobody may unlawfully harass you, either verbally or physically.
    2. Nobody may unlawfully interfere with how you spend your time, or use your property.
    3. Nobody may unlawfully interfere with your claiming of items from wild land and abandoned ruins.
    4. Nobody may unlawfully interfere with your establishment of a settlement on wild land.
    5. Nobody may unlawfully interfere with your establishment of a nation with representatives.
    6. Nobody may unlawfully interfere with your establishment of national rights & laws.

    ### Section. 3. The Right to Property
    1. Nobody may unlawfully vandalize your items, claimed land, structures, or other materials.
    2. Nobody may unlawfully steal your items, claimed land, structures, or other materials.
    3. Nobody may unlawfully tresspass upon your claimed land.
    4. Nobody may unlawfully interfere with your claiming of items dropped by mobs and/or lawfully-killed opponents.

    ### Section. 4. The Right to Due Process
    1. Nobody may deprive you of life, liberty or property, without due process of law.
    2. Nobody may deprive you of recovering compensation for a wrongful deprivation.
    3. Nobody may deprive you of an unbiased tribunal.
    4. Nobody may deprive you of a decision based exclusively on the evidence presented.
    5. Nobody may deprive you of the requirement that the tribunal prepare a record of the evidence presented.
    6. Nobody may deprive you of the requirement that the tribunal prepare written findings of fact and reasons for its decision.
    7. Nobody may deprive you of a notice for proposed action against you, and the grounds asserted for it.
    8. Nobody may deprive you of an opportunity to present reasons why the proposed action should not be taken.
    9. Nobody may deprive you of presenting evidence, including the calling of witnesses.
    10. Nobody may deprive you of knowing opposing evidence.
    11. Nobody may deprive you of cross-examining adverse witnesses.
    12. Nobody may deprive you of an opportunity to be represented by counsel.
    13. Nobody may deprive you of a timely trial.



    ## Article. VI. Law

    ### Section. 1. Incarceration

    ### Section. 2. Assault

    ### Section. 3. Murder

    ### Section. 4. Theft

    ### Section. 5. Vandalism

    ### Section. 6. Arson

    ### Section. 7. Harassment

    ### Section. 8. Banishment