article#economy
  :markdown
    # Economy

    On Betaworld, you don't have to make and have money, but it sure does help a lot if you do. Things like buying plots of land, chartering towns, or hiring others can become important when you least expect it, so it pays to have betas on-hand.

    ## When You First Arrive On Betaworld

    You will have **5000** of our currency, the "beta". You can immediately spend it in the Capitol Town of Merconia (Mer-Con-Yuh), or save it in case you plan to do something else with it, such as charter a Town.

    ## Earning Money

    We have a **closed economy**. This means that nobody -not even the Global Government- can create new betas. *All money on Betaworld originates from new Citizens that immigrate to our world*. Every single beta in the Betaworld Treasury, and every single beta in every bank originated this way. This minimizes inflation and ties our prosperity with population growth.

    ## Getting a Job

    Other citizens with money will often have jobs they want completed in exchange for compensation. Ask in-game, or on our [Community Page](https://www.facebook.com/groups/betaworld.citizens/), "Does anybody have a job?", and you'll likely get a response.

    In the future, we will have an automated jobs board with escrow.

    ## Shops

    Most shops only sell items, but a few buy them from you in exchange for betas. Check out each of the shops in the Capitol Town **Merconia** to find shops that will buy from you.

    If you own a plot, you can setup custom shops to sell items to other players, even when you're offline. In the Capitol Town of Merconia, you will find many shops

    __It's easy to create shops:__

    1. **Place a normal chest** (redstone chests do not work) on a plot of land that you own.
    2. **Place a sign on the ground in front of the chest** (don't hang the sign on the chest itself)
    3. Type `[shop]` on the first line
    4. **Type the amount of items to sell** each time the customer clicks your sign, on the second line
    5. **Type the amount of betas you want to sell the item for**, on the 3rd line
    6. **Hold the item type you would like to sell in this store, then left click the sign with that item in your hand** to set the shop to this item type.
    7. **Put your stock of the item into the chest.** When a player clicks the sign, an item will be taken out of the chest and given to the customer. The customer will have the amount of betas listed taken from their wallet and given to you.

    ## Real Estate

    After you found a new Town, you can set plots as "for sale" with command `/plot fs {price}`. When a resident of your town walks over that plot and types `/plot claim`, they will purchase the plot from you.

    If you'd like to sell plots to Town outsiders, you can set a plot as an embassy with command `/plot set embassy`. This will allow non-residents to purchase the plot with `/plot claim`.

    ## Loans

    Certain wealthy Citizens may offer you a loan if you're active, in good standing, and have a history of being responsible.

    ## Immigration Command

    This command is required to complete immigration: `/readTheGuide`