article#game-guide
  :markdown
    # Gameplay Guide

    1. [Installation](./installation.html)
    2. [Cornerstone of Rights](./cornerstone.html)
    3. [Global Constitution](./constitution.html)
    4. [Immigration](./immigration.html)
    3. [Economy](./economy.html)
    4. [Towns](./towns.html)
    5. [Nations](./nations.html)