section.header
  section.logo
    a(href="index.html", title="Home")
      img(src="./images/logo.png")

  section.navigation

    nav
      a.constitution(href="constitution.html",title="Constitution")
        span Constitution
      a.installation(href="installation.html",title="Installation")
        span Installation Guide
      a.guide(href="guide.html",title="Guide")
        span Guide
      a.economy(href="economy.html", title="Economy")
        span Economy
      a.map(href="map.html", title="Map")
        span Map