section.header
  section.logo
    a(href="index.html", title="Home")
      img(src="./images/logo.png")
  
  section.navigation

    nav
      a.constitution(href="constitution.html",title="Constitution")
        span Constitution
      a.guide(href="guide.html",title="Guide")
        span Guide
      a.map(href="map.html", title="Map")
        span Map