article.installation-guide
  :markdown
    # Installation Guide

    ## Step 1

    ### [Download Technic Launcher](http://www.technicpack.net/download)

    Technic Launcher is an application that launches custom versions of minecraft for you, so you don't have to fumble around with files, directories, jars (you know, where browser cookies are stored. Just kidding!), and other gizmo-bobs.

    Of course, if you're not a fan of Technic Launcher, you can always download the mod files directly from our [GitHub project page](https://github.com/Betaworld/betaworld-modpack) and compile a custom client for yourself using Forge.

    ## Step 2

    ### Setup Technic Launcher

    This is much easier than it looks!

    1. Start Technic Launcher.
    2. Click `Add New Pack` on the left-hand menu.
    3. Paste `http://www.technicpack.net/api/modpack/betaworld` into the popup dialog.
    4. Click `Select`.
    4. Click the `Gear` icon in the top-right corner of the window, near the `Close Window` icon.
    5. Raise `memory` to __at least__ 2GB. If you experience problems with crashing, raise it more.
      * __What if I can't raise it more than 1GB?__
        1. __Are you running 32-bit Windows?__ If so, this is a built-in limitation of your operating system. Your Windows DVD comes with a 64-bit version that you will need to install in order to run Betaworld without crashing. We really, really wish this wasn't the case, but Microsoft didn't take 64-bit seriously until after Windows 7.
        2. __Are you running 64-bit Windows, and still can't raise your RAM above 1GB?__ You have the 32-bit version of Java installed. You need to [go to this page](http://www.oracle.com/technetwork/java/javase/downloads/jre7-downloads-1880261.html) and install the 64-bit version of Java (after uninstalling the 32-bit version!).
    6. Choose Betaworld as your modpack on the left-hand menu
    7. Click `Play`!

    __Note:__ You will only have to complete steps 1-6 when running Technic Launcher for the very first time.

    ## Step 3 (Optional)

    ### Customize Modpack With Extras

    #### Optifine

    The author of Optifine has requested that all distribution of the mod go through their Adfly links, so that they can monetize their efforts. This is absolutely reasonable on the author's part, so we do not include Optifine in the Betaworld modpack by default.

    __Note:__ All adfly links in this section are the Optifine author's original links, and downloading from these links directly benefits the Optifine project.

    __To install Optifine__, you'll need to complete the following steps:

    * If you have a modern computer with a decent graphics card:
        * [Download this version of Optifine (C9)](http://adf.ly/404181/optifined.net/adloadx.php?f=OptiFine_1.6.4_L_C9.jar).
    * If you have slower computer:
        * [Download this version of Optifine (C7)](http://adf.ly/404181/optifined.net/adloadx.php?f=OptiFine_1.6.4_L_C9.jar).

    1. Depending On Your Platform:
        * Windows
            1. `windows+r`, then type `%appdata%`.
            2. Open the `Roaming` folder.
            3. Open the `.technic` folder.
            4. Open the `Betaworld` folder.
            5. Cut and Paste the Optifine .jar file into the `mods` directory.
            6. Restart Betaworld.
        * Mac
            1. Open `Finder`
            2. Hold the `option/alt` key while clicking on `Go` in the menu bar.
            3. Click `Library`.
            4. Navigate to: `Application Support` / `technic` / `modpacks` / `Betaworld`.
            5. Cut and Paste the Optifine .jar file into the `mods` directory.
            6. Restart Betaworld.

    ## I'm Stumped! Who Can Help Me?!

    We have [an active citizen community on Facebook]() (at the moment, we will be switching to a custom forum soon) which is full of useful people!