## Article. VI. Law

### Section. 1. Incarceration

### Section. 2. Assault

### Section. 3. Murder

### Section. 4. Theft

### Section. 5. Vandalism

### Section. 6. Arson

### Section. 7. Harassment

### Section. 8. Banishment