article.map-introduction
  article.body
    :markdown
      # Live, Dynamic Map

      Click and drag on the image below to explore Betaworld's Map! For a full-screen version with more control, [click here!](http://map.lifeonbetaworld.com?worldname=Betaworld&mapname=surface&zoom=4&x=-12.302772918112993&y=64&z=13.506624595196001&)
      
  article.map
    iframe(src="http://map.lifeonbetaworld.com?worldname=Betaworld&mapname=surface&zoom=4&x=-12.302772918112993&y=64&z=13.506624595196001&nogui=true")