article.open-source
  :markdown

    # An Open-Source Sandbox

    We utilize [a GitHub Account](https://github.com/Betaworld) to manage [this website & guide](https://github.com/Betaworld/betaworld.github.io), our [server](https://github.com/Betaworld/betaworld-server), our [modpack](https://github.com/Betaworld/betaworld-modpack), and our [texture pack](https://github.com/Betaworld/betaworld-textures), which means that *anybody* can [join one of our development teams](https://github.com/orgs/Betaworld/teams) to help make Betaworld even better!

    ## How Do Pull-Requests Work?

    While anybody may [suggest a change via Pull-Request](https://help.github.com/articles/creating-a-pull-request), only the Global Betaworld Congress has authority to accept or reject these Pull-Requests. In order to accept one, a the Speaker of the House must introduce a Bill that authorizes the Pull-Request. After a successful legislative vote, the server is updated that night at 12am Eastern Time with any changes made.