article#towns
  :markdown
    # Joining a Town

    The easiest way to find an active town that is looking for more residents is to simply ask in the game chat box. Additionally, you can ask if anybody's looking for a new resident in our [Citizen Community on Facebook](https://www.facebook.com/groups/betaworld.citizens/).

    ## Open vs. Closed Towns

    Some towns are listed as "Open". These towns allow you to move to them without any approval. To join an open Town, just use this command: `/town join {townname}`. After you've joined an Open Town, look for a plot that's for sale and claim it as your own to begin building there.

    # Starting a New Town

    Not finding the kind of Town you want to be part of? Start your own! It's really as easy as finding a spot on the map that is at least 240 blocks away from another Town, and paying a **b6000** chartering fee to the Betaworld Global Government (this fee gets your town literally "on the map", and grants you additional rights in the Global Government as a Mayor, such as a seat in the Global Congress.)

    If you have **b6000** and want to charter a new town, just type `/town new {single-word-town-name}`

    # Being a Mayor

    ## Betaworld Congressional Representation

    All mayors are eligible to appoint one individual as Town Representative in the Betaworld House of Representatives. The mayor may choose their self as the representative, if they wish.

    Consult the [Betaworld Global Constitution](./constitution.html) for more information about the rights and powers of a Congressional member.

    ## Commands

    * Type `/town ?` and `/town mayor ?` for a list of all commands that you can use to customize your town.

    # Can I Be Mayor Of More Than One Town?

    No. You may only be mayor of one town at any given time, however you may make somebody else mayor of your town, then leave to start a new one if you wish. You may also abandon your town if you wish, to build another.