doctype html
html
  head

    title Betaworld Global Constitution

    link(rel='stylesheet', href='./stylesheets/screen.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=VT323|Press+Start+2P')

  body

    article.chrome
      include includes/header

      section.body

        article#constitution-notes.document
          section.page
            section.body
              article
                :markdown
                  # What Every Citizen Must Know

                  * You must respect that everybody has a right to **Life, Liberty, and Property** on Betaworld and it's Moon. This means:
                      * **You cannot attack, kill another, set traps, or entrap anybody** except when at war, or in an arena.
                      * **You cannot steal or vandalize**. If you have a question as to whether or not something can be claimed, the most likely answer is that you should move on and get your own stuff.
                  * **We have a Global Government which exists to protect your rights**. If anybody (even the leaders of a Nation) violate your rights, the Betaworld Global Government guarantees recourse.
                  * **All other rights are left up to the players themselves to sort out**. Each Nation creates their own constitution, and each town creates their own charter. If you go into somebody else's land, you must abide by their laws, or face their punishment.
                  * **You have many more rights that are not listed above**. They are all listed in Article. V. "Inalienable Citizen Rights", in the constitution below.

        article#constitution.document
          section.page
            section.body
              include includes/constitution

      include includes/footer