doctype html
html
  head

    title Betaworld Global Constitution

    link(rel='stylesheet', href='./stylesheets/screen.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=VT323|Press+Start+2P')

  body

    article.chrome
      include includes/header
            
      section.body
        article#constitution.document
          section.page
            section.body
              include includes/constitution

      include includes/footer