doctype html
html
  head

    title Betaworld Immigration

    link(rel='stylesheet', href='./stylesheets/screen.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=VT323|Press+Start+2P')

  body

    article.chrome
      include includes/header

      section.body
        article.document
          section.page
            section.body
              article#Immigration
                :markdown
                  # Immigration

                  When you first arrive in Betaworld, you are known as a Visitor. **Visitors have some abilities that Citizens do not. Read carefully!**

                  Visitors may use the `/warp` command to instantly teleport to any Nation's Capitol City. Visitors **cannot build**. Visitors can only sight-see and spend money in shops.

                  ## When You're Ready To Become A Citizen of Betaworld

                  Type `/immigrate`, then follow the on-screen instructions.

      include includes/footer