doctype html
html
  head

    title Betaworld Map

    link(rel='stylesheet', href='./stylesheets/screen.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=VT323|Press+Start+2P')

  body

    article.chrome
      include includes/header

      section.body
        article#map.document
          section.page
            section.body
              include includes/map-introduction

      include includes/footer